<div class="col-sm-4 col-md-4 user-details" style="left:25px;position:fixed">
            <div class="user-image">
                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>Niharika Saluja</h3>
                    <span class="help-block">Delhi, IN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information" stop-click>
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings" stop-click>
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email" stop-click>
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                   
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                        </div>
                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
<div class="col-sm-3">
    <div class="container">
	<div class="row">
		
	</div>
</div>
    
</div>
    
<div class="col-sm-9" style="float:right;">
    <div class="panel panel-default">
   			<div class="panel-body">
                <div class="row text-center" style="margin-bottom: 20px;">
                  <button class="btn btn-success" type="button"  data-toggle="modal" data-target="#uploadModal">Upload Art</button>
                </div>                  
               
               <div class="row">
                <div class="col-md-4 col-sm-6">
                   <div class="panel panel-default">
   			<div class="panel-body">
              <img src="//placehold.it/220x150"> 
              <div class="clearfix"></div>
              <hr>
              
              <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
              
              <hr>
              <form>
              <div class="input-group">
                <div class="input-group-btn">
                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Add a comment..">
              </div>
          	  </form>
              
            </div>
         </div>
                   
                   </div>
                 <div class="col-md-4 col-sm-6">
                  <div class="panel panel-default">
   			<div class="panel-body">
              <img src="//placehold.it/220x150"> 
              <div class="clearfix"></div>
              <hr>
              
              <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
              
              <hr>
              <form>
              <div class="input-group">
                <div class="input-group-btn">
                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Add a comment..">
              </div>
          	  </form>
              
            </div>
         </div>
                   
                   </div> <div class="col-md-4 col-sm-6">
                   <div class="panel panel-default">
   			<div class="panel-body">
              <img src="//placehold.it/220x150"> 
              <div class="clearfix"></div>
              <hr>
              
              <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
              
              <hr>
              <form>
              <div class="input-group">
                <div class="input-group-btn">
                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Add a comment..">
              </div>
          	  </form>
              
            </div>
         </div>
    </div> 
                   
                   <div class="col-md-4 col-sm-6">
                   
                   </div>
             
                </div>
            
            </div>
         </div>
    
</div>    


</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style="left: 0%; width: -1px; margin-left: 6%;">
            <div class="container">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Product Image</h4>
                </div>

                <div class="modal-body">
                            <div ng-include="'../angular-file-upload/index.html'"></div>
                    
                </div>

            </div>
            </div>
        </div>