<div class="deckgrid clearfix" deckgrid="" source="homePageData" cardtemplate="templates/deckgrid-card.html"></div>


<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{selectedImage.arts[0].name}}</h4>
                    </div>
                <div class="modal-body">
                    <div class="row">
	   
      
      <div class="col-sm-7 col-xs-6">
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><img ng-src="{{selectedImage.arts[0].imageUrl}}" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">{{selectedImage.arts[0].description}}</p>
            
            <p>
              <button class="btn btn-success pull-right" type="button" ng-click="addToCart()">Add to Cart</button>
            </p>
              
          </div>
        </div>
      </div><!--/col-->
      
      <div class="col-sm-5 col-xs-6">
      	<div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
    </div>
    
    <div class="actionBox">
        <ul class="commentList">
            <li ng-repeat="comment in selectedImage.comments">
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/6" />
                </div>
                <div class="commentText">
                    <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.commenter.fname}} on {{comment.date}}</span>

                </div>
            </li>
            <!--<li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/7" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/9" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>-->
        </ul>
        <form class="form-inline" role="form">
           <div class="input-group">
                <div class="input-group-btn">
                <button class="btn btn-default" ng-class="{true:'btn-danger', false:'btn-default'}[selectedImage.isLiked]" ng-click="like()">+{{selectedImage.totalLikes}}</button>
                </div>
                <input type="text" ng-model="comment.text" class="form-control" placeholder="Add a comment..">
               <div class="input-group-btn">
               <button class="btn btn-default" ng-click="postComment()">Add</button>
                </div>
              </div>
           
        </form>
    </div>
</div>
              
           
      </div><!--/col-->
     
  	</div>
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
