<div class="row">
			
			 <div class="col-sm-3 col-xs-6" ng-repeat="exhibition in exhibitions">
      
				<div class="panel panel-default">
                    <div class="panel-heading"><h4>{{exhibition.name}}</h4></div>
				  <div class="panel-thumbnail"><img ng-src={{exhibition.imageUrl}}></div>
                    
				  <div class="panel-body">
					<p class="lead">{{exhibition.description}}</p>
					<p>From : {{exhibition.StartDate}}</p>
                    <p>Till : {{exhibition.EndDate}}</p>
                    
				  </div>
				</div>

				
			  
			  </div><!--/col-->
    
			</div>